<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!---Unity的配置节-->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <!---Log4Net配置节点-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--IDAL层的接口别名-->
    <alias alias="IUserDal" type="ShareYou.IDBAccess.User.IUserDal,ShareYou.IDBAccess" />
    <alias alias="IPostDal" type="ShareYou.IDBAccess.Forum.IPostDal,ShareYou.IDBAccess"/>
    <alias alias="ICommentDal" type="ShareYou.IDBAccess.Forum.ICommentDal,ShareYou.IDBAccess"/>
    <alias alias="IFriendOperationDal" type="ShareYou.IDBAccess.Forum.IFriendOperationDal,ShareYou.IDBAccess"/>
    <alias alias="ILikePostDal" type="ShareYou.IDBAccess.Forum.ILikePostDal,ShareYou.IDBAccess"/>
    <alias alias="ILikePersonDal" type="ShareYou.IDBAccess.Forum.ILikePersonDal,ShareYou.IDBAccess"/>
    <alias alias="IUserOperationDal" type="ShareYou.IDBAccess.Forum.IUserOperationDal,ShareYou.IDBAccess"/>
    <alias alias="IFriendDal" type="ShareYou.IDBAccess.User.IFriendDal,ShareYou.IDBAccess"/>
    <alias alias="IFriendMessageDal" type="ShareYou.IDBAccess.User.IFriendMessageDal,ShareYou.IDBAccess"/>
    <alias alias="IFriendRequestDal" type="ShareYou.IDBAccess.User.IFriendRequestDal,ShareYou.IDBAccess"/>
    <alias alias="IBoardDal" type="ShareYou.IDBAccess.Forum.IBoardDal,ShareYou.IDBAccess"/>
    

    <!--IService层接口别名-->
    <alias alias="IUserService" type="ShareYou.IServices.User.IUserService,ShareYou.IServices"/>
    <alias alias="IFriendMessageService" type="ShareYou.IServices.User.IFriendMessageService,ShareYou.IServices"/>
    <alias alias="IFriendRequestService" type="ShareYou.IServices.User.IFriendRequestService,ShareYou.IServices"/>
    <alias alias="IFriendService" type="ShareYou.IServices.User.IFriendService,ShareYou.IServices"/>
    
    <alias alias="IPostService" type="ShareYou.IServices.Forum.IPostService,ShareYou.Iservices"/>
    <alias alias="IUserOperationService" type="ShareYou.IServices.Forum.IUserOperationService,ShareYou.Iservices"/>
    <alias alias="ILikePostService" type="ShareYou.IServices.Forum.ILikePostService,ShareYou.Iservices"/>
    <alias alias="ILikePersonService" type="ShareYou.IServices.Forum.ILikePersonService,ShareYou.Iservices"/>
    <alias alias="IFriendOperationService" type="ShareYou.IServices.Forum.IFriendOperationService,ShareYou.Iservices"/>
    <alias alias="ICommentService" type="ShareYou.IServices.Forum.ICommentService,ShareYou.Iservices"/>
    <alias alias="IBoardService" type="ShareYou.IServices.Forum.IBoardService,ShareYou.Iservices"/>
    
    

    <!--IState接口别名-->
    <alias alias="IUserState" type="ShareYou.IState.IUserState,ShareYou.IState"/>

   

    <!---****************************************************************************************-->
    <!---Dal实例类别名-->
    <alias alias="UserDal" type="ShareYou.DBAccess.User.UserDal,ShareYou.DBAccess"/>
    <alias alias="FriendDal" type="ShareYou.DBAccess.User.FriendDal,ShareYou.DBAccess"/>
    <alias alias="FriendMessageDal" type="ShareYou.DBAccess.User.FriendMessageDal,ShareYou.DBAccess"/>
    <alias alias="FriendRequestDal" type="ShareYou.DBAccess.User.FriendRequestDal,ShareYou.DBAccess"/>
    
    <alias alias="PostDal" type="ShareYou.DBAccess.Forum.PostDal,ShareYou.DBAccess"/>
    <alias alias="UserOperationDal" type="ShareYou.DBAccess.Forum.UserOperationDal,ShareYou.DBAccess"/>
    <alias alias="CommentDal" type="ShareYou.DBAccess.Forum.CommentDal,ShareYou.DBAccess"/>
    <alias alias="FriendOperationDal" type="ShareYou.DBAccess.Forum.FriendOperationDal,ShareYou.DBAccess"/>
    <alias alias="LikePersonDal" type="ShareYou.DBAccess.Forum.LikePersonDal,ShareYou.DBAccess"/>
    <alias alias="LikePostDal" type="ShareYou.DBAccess.Forum.LikePostDal,ShareYou.DBAccess"/>
    <alias alias="BoardDal" type="ShareYou.DBAccess.Forum.BoardDal,ShareYou.DBAccess"/>
    
    <!--Service实例类别名-->
    <alias alias="UserService" type="ShareYou.Services.User.UserService,ShareYou.Services"/>
    <alias alias="FriendService" type="ShareYou.Services.User.FriendService,ShareYou.Services"/>
    <alias alias="FriendMessageService" type="ShareYou.Services.User.FriendMessageService,ShareYou.Services"/>
    <alias alias="FriendRequestService" type="ShareYou.Services.User.FriendRequestService,ShareYou.Services"/>
    
    <alias alias="PostService" type="ShareYou.Services.Forum.PostService,ShareYou.Services"/>
    <alias alias="UserOperationService" type="ShareYou.Services.Forum.UserOperationService,ShareYou.Services"/>
    <alias alias="LikePostService" type="ShareYou.Services.Forum.LikePostService,ShareYou.Services"/>
    <alias alias="LikePersonService" type="ShareYou.Services.Forum.LikePersonService,ShareYou.Services"/>
    <alias alias="FriendOperationService" type="ShareYou.Services.Forum.FriendOperationService,ShareYou.Services"/>
    <alias alias="CommentService" type="ShareYou.Services.Forum.CommentService,ShareYou.Services"/>
    <alias alias="BoardService" type="ShareYou.Services.Forum.BoardService,ShareYou.Services"/>

    <!--State实例别名-->
    <alias alias="UserState" type="ShareYou.AspNetSession.UserState,ShareYou.AspNetSession"/>

    <!---DBSession接口别名-->
    <alias alias="DbSession" type="ShareYou.DBSession.DbSession,ShareYou.DBSession"/>
    <!--IDBSession接口别名-->
    <alias alias="IDbSession" type="ShareYou.IDBSession.IDbSession,ShareYou.IDBSession"/>

    <!--***********************************Controller别名************************************************-->
    <alias alias="UserController" type="ShareYou.Areas.UserInfo.Controllers.UserController,ShareYou"/>
    <alias alias="FriendController" type="ShareYou.Areas.UserInfo.Controllers.FriendController,ShareYou"/>
    <alias alias="PostController" type="ShareYou.Areas.Forum.Controllers.PostController,ShareYou"/>
    <alias alias="CommentController" type="ShareYou.Areas.Forum.Controllers.CommentController,ShareYou"/>
    <alias alias="LikePersonController" type="ShareYou.Areas.Forum.Controllers.LikePersonController,ShareYou"/>
    <alias alias="LikePostController" type="ShareYou.Areas.Forum.Controllers.LikePostController,ShareYou"/>
    <alias alias="BoardController" type="ShareYou.Areas.Forum.Controllers.BoardController,ShareYou"/>
    <alias alias="UserOperationController" type="ShareYou.Areas.Forum.Controllers.UserOperationController,ShareYou"/>
    <alias alias="HomeController" type="ShareYou.Controllers.HomeController,ShareYou"/>

    <container name="containerOne">

      <!---DBSession层的注册-->
      <register name="AdoDbSession" type="IDbSession" mapTo="DbSession">
        <lifetime type="singleton"/>
        <property name="UserDal">
          <dependency name="AdoUserDal"/>
        </property>
        <property name="PostDal">
          <dependency name="AdoPostDal"/>
        </property>
        <property name="CommentDal">
          <dependency name="AdoCommentDal"/>
        </property>
        <property name="FriendOperationDal">
          <dependency name="AdoFriendOperationDal"/>
        </property>
        <property name="LikePostDal">
          <dependency name="AdoLikePostDal"/>
        </property>
        <property name="LikePersonDal">
          <dependency name="AdoLikePersonDal"/>
        </property>
        <property name="UserOperationDal">
          <dependency name="AdoUserOperationDal"/>
        </property>
        <property name="FriendDal">
          <dependency name="AdoFriendDal"/>
        </property>
        <property name="FriendMessageDal">
          <dependency name="AdoFriendMessageDal"/>
        </property>
        <property name="FriendRequestDal">
          <dependency name="AdoFriendRequestDal"/>
        </property>
        <property name="BoardDal">
          <dependency name="AdoBoardDal"/>
        </property>
      </register>
      <!--DAl层的注册-->
      <register name="AdoUserDal" type="IUserDal" mapTo="UserDal">
        <lifetime type="singleton" />
      </register>

      <register name="AdoFriendDal" type="IFriendDal" mapTo="FriendDal">
        <lifetime type="singleton"/>
      </register>


      <register name="AdoFriendMessageDal" type="IFriendMessageDal" mapTo="FriendMessageDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoFriendRequestDal" type="IFriendRequestDal" mapTo="FriendRequestDal">
        <lifetime type="singleton"/>
      </register>
      
      
      
      <register name="AdoPostDal" type="IPostDal" mapTo="PostDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoUserOperationDal" type="IUserOperationDal" mapTo="UserOperationDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoLikePostDal" type="ILikePostDal" mapTo="LikePostDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoLikePersonDal" type="ILikePersonDal" mapTo="LikePersonDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoFriendOperationDal" type="IFriendOperationDal" mapTo="FriendOperationDal">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoCommentDal" type="ICommentDal" mapTo="CommentDal">
        <lifetime type="singleton"/>
      </register>
      <register name="AdoBoardDal" type="IBoardDal" mapTo="BoardDal">
        <lifetime type="singleton"/>
      </register>
      <!--Server层的注册-->
      <register name="AdoUserService" type="IUserService" mapTo="UserService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoFriendService" type="IFriendService" mapTo="FriendService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoFriendMessageService" type="IFriendMessageService" mapTo="FriendMessageService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoFriendRequestService" type="IFriendRequestService" mapTo="FriendRequestService">
        <lifetime type="singleton"/>
      </register>

      <register name="AdoFriendOperationService" type="IFriendOperationService" mapTo="FriendOperationService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoCommentService" type="ICommentService" mapTo="CommentService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoLikePersonService" type="ILikePersonService" mapTo="LikePersonService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoLikePostService" type="ILikePostService" mapTo="LikePostService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <register name="AdoUserOperationService" type="IUserOperationService" mapTo="UserOperationService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>
      
      <register name="AdoPostService" type="IPostService" mapTo="PostService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>
      <register name="AdoBoardService" type="IBoardService" mapTo="BoardService">
        <lifetime type="singleton"/>
        <property name="DbSession">
          <dependency name="AdoDbSession"/>
        </property>
      </register>

      <!---State层的注册-->
      <register name="AdoUserState" type="IUserState" mapTo="UserState">
        <lifetime type="singleton"/>
      </register>

      

      <!---*************************************Controller层的注册************************************************-->
      <register type="UserController">
        <property name="UserService">
          <dependency name="AdoUserService"/>
        </property>
        <property name="UserState">
          <dependency name="AdoUserState"/>
        </property>
      </register>
      <register type="HomeController">
        <property name="PostService">
          <dependency name="AdoPostService"/>
        </property>
        <property name="UserService">
          <dependency name="AdoUserService"/>
        </property>
        <property name="UserState">
          <dependency name="AdoUserState"/>
        </property>
        <property name="BoardService">
          <dependency name="AdoBoardService"/>
        </property>
      </register>
      <register type="FriendController">
        <property name="FriendService">
          <dependency name="AdoFriendService"/>
        </property>
        <property name="FriendMessageService">
          <dependency name="AdoFriendMessageService"/>
        </property>
        <property name="FriendRequestService">
          <dependency name="AdoFriendRequestService"/>
        </property>
      </register>

      <register type="CommentController">
        <property name="UserState">
          <dependency name="AdoUserState"/>
        </property>
        <property name="CommentService">
          <dependency name="AdoCommentService"/>
        </property>
        <property name="UserOperationService">
          <dependency name="AdoUserOperationService"/>
        </property>
        <property name="UserService">
          <dependency name="AdoUserService"/>
        </property>
      </register>
      
      <register type="PostController">
        <property name="PostService">
          <dependency name="AdoPostService"/>
        </property>
        <property name="UserService">
          <dependency name="AdoUserService"/>
        </property>
        <property name="CommentServcie">
          <dependency name="AdoCommentService"/>
        </property>
        <property name="UserState">
          <dependency name="AdoUserState"/>
        </property>
      </register>

      <register type="LikePersonController">
        <property name="LikePersonService">
          <dependency name="AdoLikePersonService"/>
        </property>
        
      </register>

      <register type="LikePostController">
        <property name="LikePostService">
          <dependency name="AdoLikePostService"/>
        </property>
        
      </register>
      <register type="UserOperationController">
        <property name="UserOperationService">
          <dependency name="AdoUserOperationService"/>
        </property>

      </register>
      <register type="BoardController">
        <property name="BoardService">
          <dependency name="AdoBoardService"/>
        </property>
        <property name="PostService">
          <dependency name="AdoPostService"/>
        </property>
        <property name="UserService">
          <dependency name="AdoUserService"/>
        </property>
        <property name="UserState">
          <dependency name="AdoUserState"/>
        </property>
      </register>
      
    </container>
  </unity>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="E:\ShareYou\ShareYou\Log\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="StaticLogFileName" value="true" />
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="ShareYou" connectionString="Data Source=DESKTOP-IHE7EGI;Initial Catalog=ShareYou;User ID=kangze;Password=4418000"/>
  </connectionStrings>
  <!---用户头像存储的位置，以及当前网站的位置-->
  <appSettings>
    <add key="headimage" value="E:\ShareYou\ShareYou\Content\Image\Head\"/>
    <add key="applocation" value="E:\ShareYou\ShareYou\"/>
    <add key="PageSize" value="6"/>
  </appSettings>
</configuration>